<aside id="logo-sidebar" class="fixed top-1/2 left-0 transform -translate-y-1/2 transition-transform md:ml-20"
    aria-label="Sidebar">
    <div class="h-full rounded-3xl px-4 py-6 overflow-y-auto bg-white md:w-64 w-16">
        <!-- Logo Section -->
        <div class="flex items-center justify-center mb-8">
            <i class="fa-solid fa-calculator fa-4x"></i>
        </div>
        <!-- Navigation Links -->
        <ul class="space-y-6 font-medium">
            <li class="flex items-center p-3 hover:bg-gray-300 rounded-full transition-colors cursor-pointer">
                <i class="fas fa-calculator mr-4"></i>
                <span class="hidden md:inline">Calculator</span>
            </li>
            <li class="flex items-center p-3 hover:bg-gray-300 rounded-full transition-colors cursor-pointer">
                <i class="fas fa-exchange-alt mr-4"></i>
                <span class="hidden md:inline">Exchange Rate</span>
            </li>
            <li class="flex items-center p-3 hover:bg-gray-300 rounded-full transition-colors cursor-pointer">
                <i class="fas fa-ruler-combined mr-4"></i>
                <span class="hidden md:inline">Unit Converter</span>
            </li>
        </ul>
    </div>
</aside>