<div class="min-w-screen min-h-screen bg-black flex items-center justify-center">
  <div class="w-full mx-auto border-2 rounded-3xl shadow-xl relative overflow-hidden" style="max-width: 500px">
    <!-- Calculator screen -->
    <div class="w-full h-50 bg-black">
      <div class="w-auto p-4">
        <!-- History Button -->
        <button class="w-auto h-auto hover:underline text-white text-2xl font-bold"
          (click)="onButtonClick('History', 'function')">
          <i class="fas fa-history mr-4"></i>
        </button>

        <!-- Conditionally render the history -->
        <div *ngIf="showHistory" class="overflow-y-auto" style="max-height: 200px;">
          <div *ngIf="calculationHistory.length > 0; else emptyHistoryMessage">
            <div *ngFor="let calc of calculationHistory" class="text-2xl text-white font-thin">
              <p>{{ calc.expression }} = {{ calc.result }}</p>
            </div>
          </div>
          <!-- Display this message if there are no calculations in history -->
          <ng-template #emptyHistoryMessage>
            <p class="text-center text-white">No history available</p>
          </ng-template>
        </div>
      </div>

      <!-- Display Screen Section -->
      <div *ngIf="!showHistory" class="w-full h-50 bg-black text-right">
        <!-- Display the entire expression -->
        <div class="w-full py-5 px-6 text-6xl text-white font-thin">{{ displayValue }}</div>
      </div>
    </div>

    <!-- end calculator screen -->
    <hr>
    <!-- calculator button area -->
    <div class="w-full bg-black pt-4 pb-4">
      <!-- first button row -->
      <div class="flex w-full mx-4">
        <!-- all clear button -->
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-400  hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('AC','function')">AC</button>
        </div>
        <!-- end all clear button -->
        <!-- clear button -->
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-400 hover:opacity-50  text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('C','function')">C</button>
        </div>
        <!-- end clear button -->
        <!-- percentage button -->
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-400 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('%','function')">%</button>
        </div>
        <!-- division button -->
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-orange-400 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('/','function')">/</button>
        </div>
      </div>

      <!-- second button row -->
      <div class="flex w-full mx-4">
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('7','number')">7</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('8','number')">8</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('9','number')">9</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-orange-400 hover:opacity-50 text-white text-3xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('*','function')">*</button>
        </div>
      </div>

      <!-- third button row -->
      <div class="flex w-full mx-4">
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('4','number')">4</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('5','number')">5</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('6','number')">6</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-orange-400 hover:opacity-50 text-white text-6xl font-mono"
            style="border-radius: 50%;" (click)="onButtonClick('-','function')">-</button>
        </div>
      </div>

      <!-- fourth button row -->
      <div class="flex w-full mx-4">
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('1','number')">1</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('2','number')">2</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('3','number')">3</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-orange-400 hover:opacity-50 text-white text-4xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('+','function')">+</button>
        </div>
      </div>
      <!-- fifth button row -->
      <div class="flex w-full mx-4">
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('0','number')">0</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-bold"
            style="border-radius: 50%;" (click)="onButtonClick('00','number')">00</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-gray-700 hover:opacity-50 text-white text-2xl font-extrabold"
            style="border-radius: 50%;" (click)="onButtonClick('.','number')">.</button>
        </div>
        <div class="w-1/4 p-2">
          <button class="w-20 h-20 rounded-full bg-orange-400 hover:opacity-50 text-white text-4xl font-mono"
            style="border-radius: 50%;" (click)="onButtonClick('=','function')">=</button>
        </div>
      </div>
    </div>
    <!-- end of calculator button area-->
  </div>
</div>