<div class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5">
  <div class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden" style="max-width:350px">
    <h1 class="text-center text-white py-10 text-3xl font-bold">Angular Calculator</h1>

    <!-- Calculator screen -->
    <div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right">

      <!-- function screen -->
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">Function</div>

      <!-- number screen -->
      <div class="w-full py-5 px-6 text-6xl text-white font-thin">100</div>
      <!-- end calculator screen -->
      <!-- calculator button area  -->
       <div class="w-full bg-gradient-to-b from-red-500 to-red-800"></div>

    </div>

  </div>

</div>